---
layout: default
---

<div class="main-wrapper">
	<div class="menu">
		<h1 class="sg-h1 main-title"><a href="{{ page.url }}#top">{{ site.title }}</a></h1>
		<p style="padding: 0 1em; font-size: 11px; color: #efefef;">Style Guide was last updated at <br>{{ site.time | date: "%a, %b %d, %Y, %H:%M:%S" }}</p>

		<ul>
			{% assign entries = site.components %}
			{% for entry in entries %}
		  	<li>
				<a href="#{{ entry.title | slugify }}"><p>{{ entry.title }}</p></a>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="content" id="top">
	
		<h1 class="sg-h1 main-title mobile">{{ site.title }}</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida massa et tortor semper condimentum. Vestibulum sed elementum dolor.</p>

		{% assign entries = site.components %}
		{% for entry in entries %}
		  {% include component.html %}
		{% endfor %}




		{% comment %}

		If you want to make sure your types are grouped (file names are not enough), you could use this group_by loop instead

		{% assign componentsByType = site.components | group_by:"type" %}
		{% for type in componentsByType %}
		  <h3 class="sg-h2">{{ type.name | capitalize }}</h3>
		  {% for entry in type.items %}
		    {% include component.html %}
		  {% endfor %}
		{% endfor %}

		{% endcomment %}



		{% comment %}

		If you want to use pages and/or posts to create a more comple styleguide with pages / intros for every type of components, you can use these where loops on those pages / posts instead

		{% assign entries = site.components | where:"type","buttons" %}
		{% for entry in entries %}
		  {% include component.html %}
		{% endfor %}

		{% assign entries = site.components | where:"type","typography" %}
		{% for entry in entries %}
		  {% include component.html %}
		{% endfor %}

		{% endcomment %}
	</div>
</div>
	